:root{
    --accent-color: #2196F3;
    --main-font: #212121;
    --secondory-font:  #757575;
    --list-port-gap:30px;
}
* {
    box-sizing: border-box;
}


.menu-link-port{
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.142;
letter-spacing: 0.02em;
text-align: left;
color: var(--main-font);
}
.navi{
    padding-top: 24px;
padding-bottom: 25px;
}
.menu-link-port.current{
    color: #d11b1b ;
}

.modal-btn{
background: var(--accent-color);
color: #ffffff;
}

.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color);

}
.header-tel,
.header-mail{
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color:var( --secondory-font);
}

.menu-link-port:focus{
    color: var(--accent-color);
}

.menu-link-port:hover{
    color: var(--accent-color);
}

.menu-link-port{
   color: var(--main-font );
}

.menu-link-kontakt:hover,
.menu-link-kontakt:focus{
    color: var(--accent-color);
}
.menu-link-kontakt{
    color: var(--main-font );
}

.menu-link-kontakt{
    margin-right: 50px;
}

.menu-link-stud{
    color: var(--main-font );
}

.menu-link-stud.current{
    color: #d11b1b ;
}

.menu-link-stud{
    margin-left: 93px;
}

.menu-link-stud:hover,
.menu-link-stud:focus{
    color: var(--accent-color);
}


.header-mail:hover{
    color: var(--accent-color);
}
.header-mail:focus{
    color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus{
    color: var(--accent-color);
}
.header-web{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.191;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--accent-color);
margin-left: 215px;
}
.header-studio{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.191;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--main-font);
}

.address{

}

.menu-list-stud{
    margin-right: 50px;
}

.menu-list-port{
    margin-right: 50px;

}

.hero-list{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.363;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

/*color: #FFFFFF;*/
}
.modal-btn{
    
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
/* identical to box height, or 187% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
/*color: #FFFFFF;*/
}

.undertittle{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-font);
}

.list-service >.list-service-item{
    margin-top: 94px;
}
.designation{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
/* or 171% */
letter-spacing: 0.03em;
color: var( --secondory-font);
}
.occupation-head{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-font);


}


.our-team{
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.166;
letter-spacing: 0.03em;
text-align: center;
}

.lead-team{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.187;
letter-spacing: 0.03em;
text-align: center;
}
.position-lead{
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.187;
letter-spacing: 0.03em;
text-align: center;
color:   var( --secondory-font);
}

.footer-web{
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.191;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--accent-color);
}

.footer-studio{
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.191;
/* identical to box height */
letter-spacing: 0.03em;
color: #FFFFFF;}


.footer-logo{
font-family: 'Raleway', sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 1.192;
letter-spacing: 0.03em;
text-align: left;

font-family: 'Oleo Script', cursive;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 1.384;
letter-spacing: 0.03em;
text-align: left;
}

.footer-address{
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.714;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;
 padding-top: 20px;



}

.footer-mail{
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.714;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255, 0.6);
}

.footer-tel{
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.714;
letter-spacing: 0.03em;
text-align: left;
color: rgba(255, 255, 255, 0.6);
}

.footer-contact{
    padding-top: 9px;

}

.link-menu-item:hover,
.link-menu-item:focus{
    color: var(--accent-color);
}


.footer-mail:hover,
.footer-mail:focus{
    color: var(--accent-color);
}
.footer-tel:hover,
.footer-tel:focus{
    color: var(--accent-color);
}

.head-kryak{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    
}

.web-kryak {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.875;
letter-spacing: 0.03em;
text-align: left;
color: var( --secondory-font);
}

.golde-star-head{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.dis-star{
 font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.875;
letter-spacing: 0.03em;
text-align: left;
color: var( --secondory-font);
}

.seafood-head{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.seafood{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-align: left;
    color: var( --secondory-font);
    }

    .project-head{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
    }

    .project{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.03em;
        text-align: left;
        color: var( --secondory-font);
    }

    .boxes-head{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
    }

    .boxes{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.03em;
        text-align: left;
        color: var( --secondory-font);
    }

    .borders-head{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
    }

    .borders{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.03em;
        text-align: left;
        color: var( --secondory-font);
    }

    .edition-head{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;  
    }

    .edition{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.03em;
        text-align: left;
        color: var( --secondory-font);
    }

    .lab-head{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;  
    }

    .lab{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.03em;
        text-align: left;  
        color: var( --secondory-font);
    }

    .growing-head{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;  
    }

    .growing{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.03em;
        text-align: left;  
        color: var( --secondory-font);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        margin: 0;
    }

    ul,
    ol{
        margin: 0;
        padding: 0;
    }
    p{
        margin: 0;
    }

    img{
        display: block;
    }


.link {text-decoration: none;}

.list{
    list-style:none
}

.button-filter{
    background: #F5F4FA;
    border:none;
}
.button-filter:hover,
.button-filter:focus{

    color:  #ffffff;
    background: var(--accent-color);
} 

.button-filter{
    display:inline-flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;

}


/*----header----*/

.header{
    display: flex;
    align-items: center;
    border: 1px solid #ECECEC;
  
    width: 1600px;
    
}

.navi{
    display: flex;
}

.menu{
    display: flex;
    align-items: center;
}





.header-border{
width: 1600px;
left: 0px;
top: 80px;
border: 1px solid #ECECEC;
}

.header-mail{
margin-left: 280px;
}

.header-tel{
    margin-left: 50px;
    margin-right: 215px;
}

.conteyner{
    width:1170px;
    margin: auto;
}

.header-border{
width: 1600px;
left: 0px;
top: 0px;
background: #FFFFFF;
border: 1px solid #ECECEC;
}

.hero-blok{
background-color: #2F303A;
display: flex;
justify-content: center;
align-items: center;
width: 1600px;
}

.hero-list{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 280px;
    color: #FFFFFF; 
  }

  .hero{
      min-height: 600px;
      display: inline-block;
    
  }

.modal-btn{
    position: absolute;
min-width: 136px;
height: 30px;
left: 732px;
top: 440px;


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}

.logo-link {
}

.list-service{
display: flex;
margin-top: 94px;
margin-left: 215px;
margin-right: 215px;
padding-right: 30px;
width: 270px;
}

.list-service li{
    margin-left: 30px;
}

.list-service li:first-child{
    margin-left: 0
}
.designation{
    width: 270px;
    margin-top: 10px;
}

.occupation{
    margin-bottom: 94px;
}

.occupation-head{
    margin-top: 94px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.occupation-list{
    display: flex;
    justify-content: center;
}

.occupation-list .occupation-list-item:not(:first-child){
    margin-left: 30px;
}
    
.occupation-bloc{
    width: 1600px;
}

.team-blok{
    Width:1600px;
background-color:  #F5F4FA;

}



.our-list{
    display: flex ;
justify-content:center;
margin-top: 50px;

}

.img-team{
    margin-top: 50px;
    
}

.our-list .list-team-item:not(:first-child){
    margin-left: 30px;
}


.lead-team{
    margin-top: 30px;
    margin-bottom: 10px;
}

.produkt-bloc{
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
border: 1px solid #eeeeee;
border-radius: 0px 0px 4px 4px;
background-color: #FFFFFF;
}

.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color:  #F5F4FA;
    width: 1600px;

}

body * {
    outline: 1px solid blue;
}
.footer{
    
width: 1600px;
height: 252px;
left: 0px;
background: #2F303A;
border-radius: 1px;

}

.footer-navi{
    margin-left:  215px;
    padding-top: 60px;
}

/*------PORTFOLIO--------*/

.filter-portfolio {
    display: flex;
    margin-top: 94px;
    margin-left: 495px;

    width: 1600px;
    
}


.btn-portfolio:not(:first-child){
    margin-left: 8px;
}

.button-filter{
    padding: 6px 22px;
    border-radius: 4px;

    
}


.port-list{
    width: 1170px;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 50px;

        
}


.list{
    margin-top: 4px;
}

.list-port{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1*var( --list-port-gap));
  margin-top: calc(-1 *var( --list-port-gap));
  
  
}


.list-port >.lict-item{
    flex-basis: calc(100%/3- var(--list-port-gap));
    margin-left: var( --list-port-gap);
    margin-top: var( --list-port-gap);

    
    
}

.port-bloc{
    padding: 20px 24px;
}

.filter{
    margin-top: 100px;
}